body{
    text-align: center;
   background:pink;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: aqua;
}